<p>    
    Run ID: {{ object.id }}
</p>
<p>    
    Runner ID: {{ object.runner_id }}
</p>
<p>    
    Status: {{ object.status }}
</p>
<p>    
    Type: {{ object.testrun_type }}
</p>
<p>    
    Submit Time: {{ object.submit_time }}
</p>
<p>    
    Submitter Name: {{ object.submitter }}
</p>
<p>    
    Image Name: {{ object.image_name }}
</p>
<p>    
    Image Tag: {{ object.image_tag }}
</p>
<p>    
    Result: {{ object.result }}
</p>
<p>    
    Video Link: {{ object.video_link }}
</p>
{% if object.log_file %}
<p>
    Log file: <a href="{{ log_file_url }}" download="log.txt">Download</a>
</p>
{% else %}
<p>    
    Log file is not available right now.
</p>
{% endif %}