<p>    
    Run ID: {{ object.id }}
</p>
<p>    
    Status: {{ object.status }}
</p>
<p>    
    Type: Task{{ object.run_type }}-{{ object.testrun_type }}
</p>
<p>    
    Submit Time: {{ object.submit_time }}
</p>
<p>    
    Submitter Name: {{ object.submitter }}
</p>
<p>    
    Submitted Image: docker.discover-lab.com:55555/{{ object.image_name }}:{{ object.image_tag }}
</p>
<p>    
    Result: {{ object.result }}
</p>
{% if object.video %}
<p>
    <a href="{{ video_url }}" download="video.mp4">Video</a>
<!-- </p> -->
{% else %}
<p>
    Video is not available right now.
<!-- </p> -->
{% endif %}
{% if object.log_file %}
<p>
    <a href="{{ log_file_url }}" download="log.txt">Log File 1</a>
<!-- </p> -->
{% else %}
<p>
    Log file 1 is not available right now.
<!-- </p> -->
{% endif %}

{% if object.another_log_file %}
<!-- <p> -->
    <a href="{{ log_file_2_url }}" download="log2.txt">Log File 2</a>
</p>
{% else %}
<!-- <p>     -->
    Log file 2 is not available right now.
</p>
{% endif %}